{% extends 'base.html' %}

{% block title %}{{ person.rank }} {{ person.first_name }} {{ person.last_name }} | NATO Military Personnel{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mb-4">
        <a href="{% url 'home' %}" class="btn btn-secondary">&laquo; Back to Personnel List</a>
    </div>
    {% if user.is_authenticated %}
    <div class="col-md-4 text-end mb-4">
        <a href="{% url 'personnel_update' person.id %}" class="btn btn-primary me-2">
            <i class="bi bi-pencil"></i> Edit
        </a>
        <a href="{% url 'personnel_delete' person.id %}" class="btn btn-danger">
            <i class="bi bi-trash"></i> Delete
        </a>
    </div>
    {% endif %}
</div>

<!-- Rest of the detail template remains the same -->
<!-- ... -->
{% endblock %}